/*2020-02-26, CSS document for the entire Bikram Yoga website*/

body {
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-size: 25px;
    background-image: url('../img/background.jpg');
    background-position: center center;
    background-size: cover;
}

#index {
    display: grid;
    height: 97.5vh;
    width: 97.5vw;
    grid-gap: 10px;
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: 0.5fr 7.5fr;
    grid-template-areas:
    'nav hd hd'
    'nav div div';
}


#whatIsYoga {
    display: grid;
    height: 97.5vh;
    width: 97.5vw;
    grid-gap: 10px;
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: 0.5fr 7.5fr;
    grid-template-areas:
    'nav hd hd'
    'nav art1 art2';
}

#poseOne {
    display: grid;
    height: 97.5vh;
    width: 97.5vw;
    grid-gap: 10px;
    grid-template-columns: 50px 1fr 6fr 1fr;
    grid-template-rows: 0.5fr 6.5fr 1fr;
    grid-template-areas:
    'nav hd hd hd'
    'nav prev img next'
    'nav sci sci sci';
}

#poseTwo {
    display: grid;
    height: 97.5vh;
    width: 97.5vw;
    grid-gap: 10px;
    grid-template-columns: 50px 1fr 6fr 1fr;
    grid-template-rows: 0.5fr 6.5fr 1fr;
    grid-template-areas:
    'nav hd hd hd'
    'nav prev img next'
    'nav sci sci sci';
}

#poseThree {
    display: grid;
    height: 97.5vh;
    width: 97.5vw;
    grid-gap: 10px;
    grid-template-columns: 50px 1fr 6fr 1fr;
    grid-template-rows: 0.5fr 6.5fr 1fr;
    grid-template-areas:
    'nav hd hd hd'
    'nav prev img next'
    'nav prev sci next';
}


/*communal variables*/
.poseImg {
    background-color: rgba(255,255,255,0.5);
    align-content: center;
    margin: auto;

}
.nav {
    background-color: rgba(255,255,255,0.5);
    grid-area: nav;
    width: 50px;
    height: auto;
}
.scienceOverlay {}
.theScience {
    grid-area: sci;
    background-color: rgba(255,255,255,0.5);
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 20px;
    width: 600px;
    padding: 15px;
    position: fixed-bottom-center;
}

.header {
    background-color: rgba(255,255,255,0.5);
    grid-area: hd;
    padding-top:12px;
    text-align: center;
}

.next {
    background-color: rgba(255,255,255,0.5);
    grid-area: next;
    width: 100px;
    height: auto;
    padding-top:250px;
}
.previous {
    background-color: rgba(255,255,255,0.5);
    grid-area: prev;
    width: 100px;
    height: auto;
    padding-top:250px;
}

.article1 {
    grid-area: art1;
    background-color: rgba(255,255,255,0.5);
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 20px;
    padding: 15px;
    width: 450px;
    height: 550px;
}

.article2 {
    grid-area: art2;
    background-color: rgba(255,255,255,0.5);
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 20px;
    padding: 15px;
    width: 450px;
    height: 550px;
}

.grid {
    grid-area: div;
    background-color: white;
    opacity: 50%;
}





/*nav overlay*/
.navOverlay{
    height: 100vh;
    width: 80vw;
    background: white;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

.nav-button{
    cursor: pointer;
    display: inline;
}

.show{ left: 0vw;}
.visible{ display: block;}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(50,50,50,0.5);
    display: none;
    z-index: 5;
}




/*science overlay*/
.scienceOverlay{
    height: 100vh;
    width: 80vw;
    background: white;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

.science-button{
    cursor: pointer;
    display: inline;
}

.show{ left: 0vw;}
.visible{ display: block;}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(50,50,50,0.5);
    display: none;
    z-index: 5;
}
